<main class="mx-auto flex min-h-screen w-full items-center justify-center text-slate-400 bg-[url('https://images4.alphacoders.com/600/600528.png')] bg-cover bg-center">
  <section class="flex w-[30rem] flex-col space-y-10 bg-white px-10 py-10 rounded-lg shadow-md">
    <div class="text-center text-4xl font-medium italic text-black">Đăng Ký</div>
    
    <form [formGroup]="formSignup" (ngSubmit)="onHandleSubmit()">
      <!-- name -->
      <div class="w-full transform border-b-2 bg-transparent text-black text-lg duration-300 focus-within:border-indigo-500">
        <input type="text" placeholder="Name" formControlName="name"
      class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none" />
      <div
        *ngIf="
          formSignup.get('name')?.hasError('required')
        "
      >
        name is Required
      </div>
      <div
        *ngIf="
          formSignup.get('email')?.hasError('email')
        "
      >
      </div>
      </div>
      <!-- email -->
      <div class="w-full transform border-b-2 bg-transparent text-black text-lg duration-300 focus-within:border-indigo-500">
        <input type="text" placeholder="Email" formControlName="email"
      class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none" />
      <div
        *ngIf="
          formSignup.get('email')?.hasError('required') &&
          (formSignup.get('email')?.touched || formSignup.get('email')?.dirty)
        "
      >
        Email is Required
      </div>
      <div
        *ngIf="
          formSignup.get('email')?.hasError('email') &&
          (formSignup.get('email')?.touched || formSignup.get('email')?.dirty)
        "
      >
        Invalid email
      </div>
      </div>

      <div class="w-full transform border-b-2 bg-transparent text-black text-lg duration-300 focus-within:border-indigo-500">
        <input type="password" placeholder="Password" formControlName="password"   class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"  />
      <div
        *ngIf="
          formSignup.get('password')?.hasError('required') &&
          (formSignup.get('password')?.touched || formSignup.get('email')?.dirty)
        "
      ></div>
      </div>
      <div class="w-full transform border-b-2 bg-transparent text-black text-lg duration-300 focus-within:border-indigo-500">
        <input
        type="password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"
      />
      <div
        *ngIf="
          formSignup.hasError('misMatch') &&
          (formSignup.get('confirmPassword')?.touched ||
            formSignup.get('confirmPassword')?.dirty)
        "
      >
        Password không trùng nhau
      </div>
      </div>
      
      
      <button   class="transform rounded-sm bg-indigo-500 py-2 font-bold duration-300 text-white hover:bg-indigo-700">Đăng ký</button>
    </form>

  </section>

</main>

