.banner {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.banner-image.hide-left {
  transform: translateX(-100%);
}

.banner-image.show-right {
  transform: translateX(100%);
}

.banner-pagination {
  display: flex;
  margin-top: 0.5rem;
  position: absolute;
  z-index: 2;
  margin-top: 35%;

}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 0.25rem;
  transition: background-color 0.3s ease;
  z-index: 3;
}

.active {
  background-color: #f00;
}
