<body class="max-w-full  mx-auto   ">
    <div class="">
    <div class="grid grid-cols-12">
        <!-- trái -->
          <div class="col-span-3 bg-[#070A52] min-h-[1000px] h-auto ">
            <h2 class="text-white font-bold text-center py-2 text-[30px]">ADMIN</h2>
            <div class="">
               <ul>
                <li class="my-2 py-2  hover:bg-slate-500"><a class="text-white no-underline ml-6
                    " href="/admin">News</a> </li>
                    <li class="my-2 py-2  hover:bg-slate-500"><a class="text-white no-underline ml-6
                      " href="/admin/news/add">Add News</a> </li>
                <li class="my-2 py-2  hover:bg-slate-500"><a class="text-white no-underline ml-6
                    " href="">Comment</a> </li>
                <li class="my-2 py-2  hover:bg-slate-500"><a class="text-white no-underline ml-6
                    " href="">Video</a> </li>
                <li class="my-2 py-2  hover:bg-slate-500"><a class="text-white no-underline ml-6
                    " href="/admin/user">User</a> </li>
               </ul>
            </div>
        </div>
        <!-- phải -->
        <div  class="col-span-9">

        <router-outlet></router-outlet>
    </div>
        </div>
    </div>
</body>

