<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin Tuc</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>
    <section class="bg-[#F1F6F9]" >
        <main class="max-w-7xl mx-auto ">
            <div class="banner relative mt-4">
                <a href="#" class="block w-full h-full">
                    <img src="https://openx.motgame.vn/www/images/b40c5b04837917e5d1d75657a6e638f9.jpg" alt="Banner Image" class="object-cover w-full h-full">
                </a>
            </div>
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap -mx-4">
                    <div class="w-full md:w-7/12 px-4">
                        <h2 class="text-2xl font-bold mb-4">Danh sách tin tức</h2>
                        <div class="w-full mx-auto my-4">
                            <div class="relative">
                                <a href="#" class="block relative">
                                    <img src="https://toquoc.mediacdn.vn/280518851207290880/2023/5/29/vcs-asiad-2-16853522496711623468661-1685384458494-168538445861346696433.jpg" alt="Ảnh" class="w-full h-auto">
                                    <div class="absolute bottom-0 left-0 w-full h-full">
                                        <div class="absolute bottom-0 left-0 bg-gradient-to-t from-black via-black to-transparent opacity-50 w-full h-1/3"></div>
                                        <div class="absolute bottom-0 left-0 p-4">
                                            <h1 class="text-white text-2xl font-bold mb-2">Tin HOT/24H </h1>
                                            <p class="text-white">Chốt dội hình LMHT đại diên VIETNAM thi đấu giải ASIAN...</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>


                        <div class="bg-white shadow-md rounded-lg overflow-hidden mb-4 flex flex-row">
                            <div class="w-60">
                                <img src="https://cdn.nguyenkimmall.com/images/companies/_1/tin-tuc/review/game/pubg-playerunknown%E2%80%99s-
battlegrounds.jpg" alt="Ảnh tin tức" class="w-full h-full object-cover">
                            </div>
                            <div class="p-4 flex-1">
                                <h3 class="text-xl font-bold mb-2">Tiêu đề tin tức</h3>
                                <p class="text-gray-500 mb-2">Ngày tháng đăng: 31/05/2023</p>
                                <p class="text-gray-700 mb-2">Mô tả ngắn về tin tức...</p>
                                <div class="flex items-center mb-2">
                                    <img src="https://motgame.vn/frontend/images/esport9.jpg" alt="Ảnh tác giả" class="w-8 h-8 rounded-full mr-2">
                                    <p class="text-gray-700">John Doe</p>
                                </div>
                                <a href="#" class="text-blue-500">Đọc thêm</a>
                            </div>
                        </div>



                        <!-- Thêm các tin tức khác tại đây -->
                    </div>
                    <div class="w-full md:w-5/12 px-4">
                        <h2 class="text-2xl font-bold mb-4 ">Danh mục</h2>
                        <div class="border rounded-lg overflow-hidden">
                            <div class="w-[80%] mx-auto my-4">
                                <a href="#">
                                    <div class="bg-[url('https://motgame.vn/frontend/images/esport5.jpg')] bg-cover bg-center shadow-md rounded-lg p-4">
                                        <h1 class="text-center text-2xl font-bold text-white">Game hành động</h1>
                                    </div>
                                </a>

                            </div>

                            <div class="w-[80%] mx-auto my-4">
                                <a href="#">
                                    <div class="bg-[url('https://motgame.vn/frontend/images/esport7.jpg')] bg-cover bg-center shadow-md rounded-lg p-4">
                                        <h1 class="text-center text-2xl font-bold text-white">Nhập vai</h1>
                                    </div>
                                </a>
                            </div>

                            <div class="w-[80%] mx-auto my-4">
                                <a href="#">
                                    <div class="bg-[url('https://motgame.vn/frontend/images/esport6.jpg')] bg-cover bg-center shadow-md rounded-lg p-4">
                                        <h1 class="text-center text-2xl font-bold text-white">Thể thao</h1>
                                    </div>
                                </a>
                            </div>

                            <div class="w-[80%] mx-auto my-4">
                                <a href="#">
                                    <div class="bg-[url('https://motgame.vn/frontend/images/esport9.jpg')] bg-cover bg-center shadow-md rounded-lg p-4">
                                        <h1 class="text-center text-2xl font-bold text-white">kinh dị</h1>
                                    </div>
                                </a>
                            </div>

                            <div class="w-[80%] mx-auto my-4">
                                <a href="#">
                                    <div class="bg-[url('https://motgame.vn/frontend/images/esport8.jpg')] bg-cover bg-center shadow-md rounded-lg p-4">
                                        <h1 class="text-center text-2xl font-bold text-white">Giải đố</h1>
                                    </div>
                                </a>
                            </div>
                            <!-- Add more categories here -->
                        </div>

                        <div class="mb-40">
                            <h2 class="text-2xl font-bold mb-8 ">Game HOT của tháng</h2>
                          <div class="w-full h-[350px]">
                                <img src="https://www.gamingbible.com/cdn-cgi/image/width=720,quality=70,format=webp,fit=contain,dpr=1/https%3A%2F%2Fs3-images.gamingbible.com%2Fs3%2Fcontent%2F5409a1845f63fffbf818f142daca8d9d.png" alt="">
                                <a href="#"> <h1 class="  text-2xl font-bold text-[#FFB84C]">Hogwarts Legacy</h1></a>
                                <hr class="w-full bg-black-500 mt-4">
                          </div>
                          <div class="w-full h-[350px]">
                            <img src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000063714/276a412988e07c4d55a2996c6d38abb408b464413b2dfeb44d2aa460b9f622e1" alt="">
                            <a href="#"><h1 class="  text-2xl font-bold text-[#FFB84C]">Zelda</h1></a>
                            <hr class="w-full bg-black-500 mt-4">
                      </div>

                        </div>

                    </div>

                    </div>
                </div>


        </main>




    </section>


</body>

</html>
